* {
  margin: 0;
  padding: 0;
}
.main {
  width: 70%;
  margin: 20px auto 0 auto;
  font: normal 1em/120% Arial, Helvetica, sans-serif;
  color: #6a6a6a;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3px;
  text-align: center;
}
button {
  width: 28px;
  height: 28px;
  border: 0;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-save {
  background-color: #ffb036;
}
.btn-esc {
  background-color: #bbbbbb;
}
.btn-edit {
  background-color: blue;
}
.btn-delete {
  background-color: red;
}
.btn-add {
  background-color: green;
}
.group-add {
  width: 80px;
}
.left {
  float: left;
}
.right {
  float: right;
}
input[type="text"] {
  height: 30px;
  margin-right: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.input-description {
  width: 300px;
}
ul {
  list-style: none;
  margin-top: 5px;
}
ul .group-header {
  display: inline-block;
  width: 100%;
  height: 34px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  background-color: #b3b3b3;
  font-size: 1.25em;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ul .group-header .description-text {
  font-size: 0.7em;
  font-style: italic;
  font-weight: normal;
}
ul li {
  width: 100%;
  margin-bottom: 3px;
}
.contact,
.contact-email {
  display: inline-block;
  font-size: 1em;
  overflow: auto;
}
.contact {
  width: 20%;
}
.contact-email {
  width: 26%;
}
.contact-btns {
  display: inline-block;
  width: 12%;
  text-align: right;
}
